@charset "UTF-8";
body {
  background: #dddde0;
  font-family: "Roboto", sans-serif;
  color: #444447;
}

.whole {
  width: 100%;
}

#widget-wrap {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 60px auto;
  padding: 60px;
}
#widget-wrap h2 {
  margin-top: 0;
  font-size: 32px;
  font-weight: 300;
}

#widget-controls {
  border-top: #88888b 1px solid;
  border-bottom: #88888b 1px solid;
  padding: 30px 0;
  float: left;
  font-size: 16px;
}
#widget-controls .generate {
  background: #e31b37;
  border-bottom: #b30d25 3px solid;
  color: #fff;
  font-size: 13px;
  line-height: 28px;
  margin-top: 33px;
}
#widget-controls .generate:active, #widget-controls .generate:focus {
  outline: none;
}
#widget-controls .generate:hover {
  opacity: 0.8;
  border-bottom: #b30d29 3px solid;
}

#selects-wrap .select-wrap {
  margin-left: -15px;
  min-height: 60px;
}

.combine {
  margin: 10px 0;
  color: #88888b;
  font-size: 13px;
}

.select-wrap {
  position: relative;
  min-heght: 61px;
}

.select-component {
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #eeeef1;
  color: #88888b;
  margin: 8px 0 15px 0;
  border-bottom: #88888b 3px solid;
  font-size: 13px;
  line-height: 24px;
  z-index: 10;
  position: absolute;
}
.select-component .selected, .select-component .select-arrows {
  width: 83.33%;
  float: left;
  padding: 10px 5% 7px;
}
.select-component .select-arrows {
  width: 16.66%;
  border-left: #88888b 1px solid;
  padding: 0;
}
.select-component .select-arrows.open {
  background: #88888b;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}
.select-component .select-arrows a {
  background: url("../img/select-arrows.svg") no-repeat center center;
  background-size: 50%;
  display: block;
  min-height: 45px;
}
.select-component .select-arrows a:active, .select-component .select-arrows a:focus {
  outline: none;
}
.select-component .select-arrows img {
  width: 100%;
}
.select-component .open a {
  background: url("../img/select-arrows-white.svg") no-repeat center center;
  background-size: 50%;
}

label {
  display: block;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 13px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "■";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  height: 16px;
  width: 16px;
  padding: 0.6%;
  text-shadow: 1px 1px 1px transparent;
  background: #fff;
  border: #88888b 1px solid;
  color: #fff;
  font-size: 18px;
  line-height: 6px;
  text-align: center;
  display: inline-block;
  margin-right: 15px;
}

input[type=checkbox]:checked + label:before {
  color: #e31b37;
}

#collapseCountries, #collapseCrops {
  width: 100%;
  float: left;
}

.options {
  margin: 0;
  padding: 0;
}
.options li {
  list-style: none;
  border-top: #88888b 1px solid;
  padding: 10px 15px;
}

#permutations {
  color: #88888b;
}
#permutations h3 {
  color: #444447;
  font-weight: 300;
  font-size: 16px;
}
#permutations ul {
  margin: 0;
  padding: 0;
}
#permutations li {
  list-style: none;
  display: block;
  margin-bottom: 15px;
  font-size: 13px;
}
#permutations span.key {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 15px;
}
#permutations li:first-child span.key, #permutations li:nth-child(13) span.key {
  background: #3182bd;
}
#permutations li:nth-child(2) span.key, #permutations li:nth-child(14) span.key {
  background: #6baed6;
}
#permutations li:nth-child(3) span.key, #permutations li:nth-child(15) span.key {
  background: #9ecae1;
}
#permutations li:nth-child(4) span.key, #permutations li:nth-child(16) span.key {
  background: #31a354;
}
#permutations li:nth-child(5) span.key, #permutations li:nth-child(17) span.key {
  background: #74c476;
}
#permutations li:nth-child(6) span.key, #permutations li:nth-child(18) span.key {
  background: #a1d99b;
}
#permutations li:nth-child(7) span.key, #permutations li:nth-child(19) span.key {
  background: #fd8d3c;
}
#permutations li:nth-child(8) span.key, #permutations li:nth-child(20) span.key {
  background: #fdae6b;
}
#permutations li:nth-child(9) span.key, #permutations li:nth-child(21) span.key {
  background: #fdd0a2;
}
#permutations li:nth-child(10) span.key, #permutations li:nth-child(22) span.key {
  background: #756bb1;
}
#permutations li:nth-child(11) span.key, #permutations li:nth-child(23) span.key {
  background: #9e9ac8;
}
#permutations li:nth-child(12) span.key, #permutations li:nth-child(24) span.key {
  background: #bcbddc;
}

/*            Bootstrap 3 Media Queries             */
/*==========  Mobile First Method  ========== */
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==========  Non-Mobile First Method  ========== */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #widget-wrap {
    margin: 0 auto;
    padding: 0;
  }

  .select-component {
    position: relative;
  }

  #permutations {
    padding-left: 15px;
    margin-bottom: 20px;
  }

  #selects-wrap .select-wrap {
    margin-left: 0px;
  }

  .generate {
    margin-top: 10px;
  }

  h2 {
    margin: 20px 15px !important;
  }
}
/* Custom, iPhone Retina */

/*# sourceMappingURL=style.css.map */
