=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius:    $radius
	-ms-border-radius:     $radius
	border-radius:         $radius

$dgrey:                    #444447
$lgrey:					   #eeeef1
$grey:					   #88888b
  
body
	background: #dddde0
	font-family: 'Roboto', sans-serif
	color: $dgrey

.whole
	width: 100%
#widget-wrap
	background: #fff	
	+border-radius(5px)
	margin: 60px auto
	padding: 60px

	h2
		margin-top: 0
		font-size: 32px
		font-weight: 300

#widget-controls
	border-top: $grey 1px solid
	border-bottom: $grey 1px solid
	padding: 30px 0
	float: left
	font-size: 16px

	.generate
		background: #e31b37
		border-bottom: #b30d25 3px solid
		color: #fff
		font-size: 13px
		line-height: 28px
		margin-top: 33px

		&:active, &:focus
			outline: none

		&:hover
			opacity: 0.8
			border-bottom: #b30d29 3px solid

#selects-wrap
	.select-wrap
		margin-left: -15px
		min-height: 60px

.combine
	margin: 10px 0
	color: $grey
	font-size: 13px

.select-wrap
	position: relative
	min-heght: 61px

.select-component
	float: left
	+border-radius(3px)
	background: $lgrey
	color: $grey
	margin: 8px 0 15px 0
	border-bottom: $grey 3px solid
	font-size: 13px
	line-height: 24px
	z-index: 10
	position: absolute

	.selected
		width: 83.33%
		float: left
		padding: 10px 5% 7px

	.select-arrows
		@extend .selected
		width: 16.66%
		border-left: $grey 1px solid
		padding: 0

		&.open
			background: $grey
			-webkit-border-top-right-radius: 3px
			-moz-border-radius-topright: 3px
			border-top-right-radius: 3px


		a
			background: url('../img/select-arrows.svg') no-repeat center center
			background-size: 50%
			display: block
			min-height: 45px

			&:active, &:focus
				outline: none

		img
			width: 100%


	.open a 
		background: url('../img/select-arrows-white.svg') no-repeat center center
		background-size: 50%

label
	display: block
	font-weight: 400
	margin-bottom: 0
	font-size: 13px

input[type=checkbox]
	display: none

input[type=checkbox] + label:before
	content: "\25A0"
	+border-radius(2px)
	height: 16px
	width: 16px
	padding: 0.6%
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .0)
	background: #fff
	border: $grey 1px solid
	color: #fff
	font-size: 18px
	line-height: 6px
	text-align: center
	display: inline-block
	margin-right: 15px


input[type=checkbox]:checked + label:before
	color: #e31b37

#collapseCountries, #collapseCrops
	width: 100%
	float: left

.options
	margin: 0
	padding: 0

	li
		list-style: none
		border-top: $grey 1px solid
		padding: 10px 15px

#permutations
	color: $grey 

	h3
		color: $dgrey
		font-weight: 300
		font-size: 16px

	ul
		margin: 0
		padding: 0

	li
		list-style: none
		display: block
		margin-bottom: 15px
		font-size: 13px

	span.key
		display: inline-block
		width: 12px
		height: 12px
		margin-right: 15px

	li:first-child span.key, li:nth-child(13) span.key
		background: #3182bd

	li:nth-child(2) span.key, li:nth-child(14) span.key
		background: #6baed6

	li:nth-child(3) span.key, li:nth-child(15) span.key
		background: #9ecae1

	li:nth-child(4) span.key, li:nth-child(16) span.key
		background: #31a354

	li:nth-child(5) span.key, li:nth-child(17) span.key
		background: #74c476

	li:nth-child(6) span.key, li:nth-child(18) span.key
		background: #a1d99b

	li:nth-child(7) span.key, li:nth-child(19) span.key
		background: #fd8d3c

	li:nth-child(8) span.key, li:nth-child(20) span.key
		background: #fdae6b

	li:nth-child(9) span.key, li:nth-child(21) span.key
		background: #fdd0a2

	li:nth-child(10) span.key, li:nth-child(22) span.key
		background: #756bb1

	li:nth-child(11) span.key, li:nth-child(23) span.key
		background: #9e9ac8

	li:nth-child(12) span.key, li:nth-child(24) span.key
		background: #bcbddc



/*            Bootstrap 3 Media Queries             */
 
 
 
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)




/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	#widget-wrap
		margin: 0 auto
		padding: 0

	.select-component
		position: relative

	#permutations
		padding-left: 15px
		margin-bottom: 20px

	#selects-wrap
		.select-wrap
			margin-left: 0px

	.generate
		margin-top: 10px

	h2
		margin: 20px 15px !important

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)


