﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="seriesWidgetApp">
<head>
    <meta charset="utf-8" />
    <title>Grow data series widget</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="widget-wrap" class="container" ng-controller="seriesWidgetCtrl">
        <div class="row">
            <div class="col-sm-12">
                <h2>Data Series Generator</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="widget-controls" class="whole">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-9">
                                <!-- <div class="row">
                                     <div class="col-sm-5">
                                         Regions
                                     </div>
                                     <div class="col-sm-5">
                                         Crops
                                     </div>
                                 </div>-->
                                <div id="selects-wrap" class="row">
                                    <div class="col-xs-12 col-sm-5">
                                        Regions
                                        <div class="select-wrap">
                                            <div class="select-component whole">
                                                <div class="selected">
                                                    <span ng-show="iscountries">Select</span>
                                                    <span ng-repeat="_country in _countries.selected"><i ng-show="$index > 0">, </i>{{_country}}</span>
                                                </div>
                                                <div class="select-arrows">
                                                    <a role="button" data-toggle="collapse" href="#collapseCountries" aria-expanded="false" aria-controls="collapseExample"></a>
                                                </div>
                                                <div class="collapse" id="collapseCountries">
                                                    <ul class="options">
                                                        <li ng-repeat="country in countries">
                                                            <input type="checkbox" name="countries" id="{{country}}"
                                                                   checklist-model="_countries.selected" checklist-value="country" />
                                                            <label for="{{country}}">{{country}}</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="combine">
                                            <input type="checkbox" name="combine-regions" ng-model="combineregions" id="combine-regions" />
                                            <label for="combine-regions">Combine select regions</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-5">
                                        Crops
                                        <div class="select-wrap">
                                            <div class="select-component whole">
                                                <div class="selected">
                                                    <span ng-show="iscrops">Select</span>
                                                    <span ng-repeat="_crop in _crops.selected"><i ng-show="$index > 0">, </i>{{_crop}}</span>
                                                </div>
                                                <div class="select-arrows">
                                                    <a role="button" data-toggle="collapse" href="#collapseCrops" aria-expanded="false" aria-controls="collapseCrops"></a>
                                                </div>
                                                <div class="collapse" id="collapseCrops">
                                                    <ul class="options">
                                                        <li ng-repeat="crop in crops">
                                                            <input type="checkbox" name="crops" id="{{crop}}"
                                                                   checklist-model="_crops.selected" checklist-value="crop" />
                                                            <label for="{{crop}}">{{crop}}</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="combine">
                                            <input type="checkbox" name="combine-crops" ng-model="combinecrops" id="combine-crops" />
                                            <label for="combine-crops">Combine select crops</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-2">
                                        <a ng-click="generate()" class="btn generate">Generate</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="permutations" class="row">
            <div class="col-sm-12">
                <h3>Permutations:</h3>
                <ul>
                    <li ng-repeat="permutation in permutations">
                        <span class="key"></span>&lt;{{permutation.country}}, {{permutation.crop}}&gt;
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/checklist-model/checklist-model.js"></script>
    <script src="js/app.js"></script>
</body>
</html>